body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 700px;
  margin-inline: auto;
}
.logo {
  display: block;
  margin: 0 auto;
}
.tagline {
  background-color: #fdfbf1;
  border-top: 2px solid #ffd367;
  padding: 15px 0;
  font-size: 13px;
  color: #085250;
  text-align: center;
}
.title {
  text-align: center;
  color: #333333;
}
.first-text {
  font-size: 15px;
  text-align: center;
  margin-bottom: 24px;
}
.focaccia {
  width: 100%;
  height: auto;
  display: block;
}
figcaption {
  text-align: center;
  color: gray;
}
.featured-in {
  text-align: left;
  font-size: 18px;
  margin-bottom: 4px;
}
.featured {
  color: #b13d03;
}
