body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.logo {
  display: block;
  margin: 0 auto;
}
.tagline {
  background-color: #fdfbf1;
  border-top: 2px solid #ffd367;
  padding: 15px 0;
  font-size: 13px;
  color: #085250;
  text-align: center;
}
.title {
  padding: 32px 28px 40px;
  text-align: center;
  margin-bottom: 24px;
  color: #333333;
}
.first-text {
  font-size: 15px;
  text-align: center;
  margin-bottom: 24px;
}
.focaccia {
  display: block;
  margin: 0 auto;
}
figcaption {
  text-align: center;
}
.featured-in {
  text-align: center;
  font-size: 18px;
  margin-bottom: 4px;
}
.featured {
  color: #b13d03;
}
